<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Challenge!</h5>
          <p>
          <p>
          <p>
            <strong>The Challenged</strong>: {{example.text}}</p>
          <p>
            <strong>The Challenge:</strong> {{example.description}}</p>
            <strong>Time To Complete:</strong> {{example.time}}</p>
            <a href="/home">← Back To Home</a>

            <br>
       {{!-- Facebook Start --}}
<script>
 window.fbAsyncInit = function() {
   FB.init({
     appId      : '454198018520438',
     cookie     : true,
     xfbml      : true,
     version    : 'v4.0'
   });
   FB.AppEvents.logPageView();
 };
 (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=454198018520438&autoLogAppEvents=1"></script>
<div class="fb-like" data-href="https://barbiedollxo.github.io/Project2/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>     
{{!-- Facebook End --}}
        </div>
      </div>
    </div>
  </div>
</div>
