body {
  background-color: brown;
  }
  img { 
   width: 100%;
   height: auto;
  }
  
  .list-group-item {
      line-height: 4.0;
    }
    #submit {
      color: bisque;
      background-color: rgb(0, 55, 156);
    }
    .col-8 {
    background-color: lightsalmon;
    }
    .form-group {
      font-size: 20;
      color: black;
    }
  
    form.signup,
  form.login {
    margin-top: 50px;
  }